<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rrh.mapper.group.TbFriendMapper">
	<!-- 基础-->
	<resultMap id="BaseResultMap" type="com.rrh.model.group.TbFriend">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="friend_id" property="friendId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="relaty" property="relaty" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="notes" property="notes" jdbcType="VARCHAR" />
		<result column="extra" property="extra" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 好友列表-->
	<resultMap id="FriendListMap" type="com.rrh.common.mybatis.bean.FriendListBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="friend_id" property="friendId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="relaty" property="relaty" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="notes" property="notes" jdbcType="VARCHAR" />
		<result column="extra" property="extra" jdbcType="VARCHAR" />
		<result column="small_img" property="smallImg" jdbcType="VARCHAR" />
		<result column="big_img" property="bigImg" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 好友搜索 -->
	<resultMap id="FriendSerachMap" type="com.rrh.common.mybatis.bean.FriendSerachBean">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="small_img" property="smallImg" jdbcType="VARCHAR" />
		<result column="big_img" property="bigImg" jdbcType="VARCHAR" />
		<result column="city_text" property="cityText" jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 好友详细资料 -->
	<resultMap id="FriendDetailMap" type="com.rrh.common.mybatis.bean.FriendDetailBean">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="birthday" property="birthday" jdbcType="DATE" />
		<result column="small_img" property="smallImg" jdbcType="VARCHAR" />
		<result column="big_img" property="bigImg" jdbcType="VARCHAR" />
		<result column="is_certification" property="isCertification" jdbcType="BIT" />
		<result column="business_name" property="businessName" jdbcType="VARCHAR" />
		<result column="business_desc" property="businessDesc" jdbcType="VARCHAR" />
		<result column="business_traffic" property="businessTraffic" jdbcType="VARCHAR" />
		<result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
		<result column="business_domain" property="businessDomain" jdbcType="VARCHAR" />
		<result column="business_weixin" property="businessWeixin" jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="good_at" property="goodAt" jdbcType="VARCHAR" />
		<result column="place" property="place" jdbcType="VARCHAR" />
		<result column="food" property="food" jdbcType="VARCHAR" />
		<result column="stature" property="stature" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="emotion" property="emotion" jdbcType="VARCHAR" />
		<result column="sports" property="sports" jdbcType="VARCHAR" />
		<result column="city_text" property="cityText" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 好友Item -->
	<resultMap id="FriendItemMap" type="com.rrh.common.mybatis.bean.FriendItemBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="friend_id" property="friendId" jdbcType="INTEGER" />
		<result column="small_img" property="smallImg" jdbcType="VARCHAR" />
		<result column="big_img" property="bigImg" jdbcType="VARCHAR" />
		<result column="notes" property="notes" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="relaty" property="relaty" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="extra" property="extra" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_friend
		where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.rrh.model.group.TbFriend">
		insert into tb_friend
		(id,friend_id, user_id,
		relaty, status, add_time,notes,extra
		)
		values
		(#{id,jdbcType=INTEGER},#{friendId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
		#{relaty,jdbcType=VARCHAR},#{status,jdbcType=INTEGER}, 
		#{addTime,jdbcType=TIMESTAMP},#{notes,jdbcType=VARCHAR},#{extra,jdbcType=VARCHAR}
		)
  </insert>
	<update id="updateByPrimaryKey" parameterType="com.rrh.model.group.TbFriend">
		update tb_friend
		set user_id = #{userId,jdbcType=VARCHAR},
		notes =#{notes,jdbcType=VARCHAR},
		extra =#{extra,jdbcType=VARCHAR},
		relaty = #{relaty,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		add_time =#{addTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id,friend_id, user_id, nick_name, relaty, status,
		add_time
		from tb_friend
		where id = #{id,jdbcType=INTEGER}
  </select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id,friend_id, user_id,
		nick_name, relaty, status, add_time
		from tb_friend
  </select>
	<!-- 获取新的好友列表 -->
	<select id="findNewFriendList" parameterType="java.lang.Integer" resultMap="FriendListMap">
		SELECT
		f.id,f.friend_id,f.relaty, f.status,
		f.add_time,f.extra,f.notes,u.nick_name,u.small_img,u.big_img FROM
		tb_friend AS
		f,tb_users AS u
		WHERE f.friend_id=u.user_id AND f.status IN
		(1,2,3,4)
		AND
		f.user_id=#{userId,jdbcType=INTEGER}
  </select>
	<!-- 获取我的好友列表 -->
	<select id="findFriendList" parameterType="java.lang.Integer" resultMap="FriendListMap">
		SELECT
		f.id,f.friend_id,f.relaty, f.status,
		f.add_time,f.extra,f.notes,u.nick_name,u.small_img,u.big_img FROM
		tb_friend AS
		f,tb_users AS u
		WHERE f.friend_id=u.user_id AND f.status=1
		AND
		f.user_id=#{userId,jdbcType=INTEGER}
  </select>
	<!-- 搜索新的好友  已经是好友，不搜索 -->
	<select id="serachFriend" resultMap="FriendSerachMap">
		SELECT
		u.user_id,u.user_name,u.gender,u.nick_name,u.small_img,u.big_img,u.city_text,u.signature
		FROM tb_users AS u
		WHERE (u.mobile=#{keywork,jdbcType=VARCHAR} OR
		u.user_name=#{keywork,jdbcType=VARCHAR} OR
		u.nick_name=#{keywork,jdbcType=VARCHAR})
		AND u.user_id NOT IN(select
		friend_id from tb_friend where user_id=#{userId,jdbcType=INTEGER});
	</select>
	<!-- 根据用户ID和好友ID查询 -->
	<select id="getByUserIDAndFriendID" resultMap="BaseResultMap">
		select
		id,friend_id, user_id,
		relaty, status, add_time,notes,extra
		from
		tb_friend WHERE user_id=#{userId,jdbcType=INTEGER} AND
		friend_id=#{friendId,jdbcType=INTEGER};;
	</select>
	<!-- 根据好友ID查询好友资料 -->
	<select id="getFriendDetail" resultMap="FriendDetailMap">
		SELECT
		user_id,user_name,mobile,nick_name,gender,birthday,small_img,big_img,
		is_certification,business_name,business_desc,business_traffic,business_address,
		business_domain,business_weixin,signature,email,good_at,place,food,stature,
		weight,emotion,sports,city_text FROM tb_users WHERE
		user_id=#{friendId,jdbcType=INTEGER};
	</select>
	<!-- 根据用户ID和好友ID查询  FriendItemBean-->
	<select id="getFriendItemBean" resultMap="FriendItemMap">
		select
		f.id,f.friend_id, f.user_id,
		f.relaty, f.status, f.add_time,f.notes,f.extra,u.small_img,u.big_img,u.nick_name,u.gender
		from 
		tb_friend as f,tb_users as u WHERE f.friend_id=u.user_id AND f.user_id=#{userId,jdbcType=INTEGER} AND
		f.friend_id=#{friendId,jdbcType=INTEGER};
	</select>
	
	<!-- 根据用户ID和好友ID修改好友状态 -->
	<update id="updateStatusByUserIDAndFriendID" >
		update tb_friend set status=#{status,jdbcType=INTEGER} 
		WHERE user_id=#{userId,jdbcType=INTEGER} AND
		friend_id=#{friendId,jdbcType=INTEGER};
	</update>
</mapper>