<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rrh.mapper.group.TbGroupUserMapper" >
  <resultMap id="BaseResultMap" type="com.rrh.model.group.TbGroupUser" >
    <id column="group_user_id" property="groupUserId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="is_tel_show" property="isTelShow" jdbcType="BIT" />
    <result column="is_free_mode" property="isFreeMode" jdbcType="BIT" />
    <result column="set_top" property="setTop" jdbcType="INTEGER" />
  </resultMap>
  <!-- 群成员 -->
  <resultMap id="GroupUserBeanMap" type="com.rrh.common.mybatis.bean.GroupUserBean" >
    <id column="group_user_id" property="groupUserId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="small_img" property="smallImg" jdbcType="VARCHAR" />
    <result column="big_img" property="bigImg" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_group_user
    where group_user_id = #{groupUserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rrh.model.group.TbGroupUser" >
    insert into tb_group_user (group_user_id, user_id, group_id, 
      status, add_time, job_title, 
      dep_id, tel, is_tel_show, 
      is_free_mode, set_top)
    values (#{groupUserId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{jobTitle,jdbcType=VARCHAR}, 
      #{depId,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{isTelShow,jdbcType=BIT}, 
      #{isFreeMode,jdbcType=BIT}, #{setTop,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rrh.model.group.TbGroupUser" >
    update tb_group_user
    set user_id = #{userId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      is_tel_show = #{isTelShow,jdbcType=BIT},
      is_free_mode = #{freeMode,jdbcType=BIT},
      set_top = #{setTop,jdbcType=INTEGER}
    where group_user_id = #{groupUserId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select group_user_id, user_id, group_id, status, add_time, job_title, dep_id, tel, 
    is_tel_show, is_free_mode, set_top
    from tb_group_user
    where group_user_id = #{groupUserId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select group_user_id, user_id, group_id, status, add_time, job_title, dep_id, tel, 
    is_tel_show, is_free_mode, set_top
    from tb_group_user
  </select>
  <!-- 根据群编号，查询群成员列表 -->
   <select id="findByGroupID" resultMap="GroupUserBeanMap" parameterType="java.lang.Integer" >
    select gu.group_user_id, gu.user_id,u.small_img,u.big_img
    from tb_group_user as gu,tb_users as u 
    where gu.user_id=u.user_id AND gu.group_id = #{groupId,jdbcType=INTEGER}
  </select>
</mapper>