<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rrh.mapper.user.TbUsersMapper">
	
	<resultMap id="BaseResultMap" type="com.rrh.model.user.TbUsers">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="true_name" property="trueName" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="birthday" property="birthday" jdbcType="DATE" />
		<result column="small_img" property="smallImg" jdbcType="VARCHAR" />
		<result column="big_img" property="bigImg" jdbcType="VARCHAR" />
		<result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
		<result column="login_count" property="loginCount" jdbcType="INTEGER" />
		<result column="is_certification" property="isCertification" jdbcType="BIT" />
		<result column="province" property="province" jdbcType="INTEGER" />
		<result column="city" property="city" jdbcType="INTEGER" />
		<result column="area" property="area" jdbcType="INTEGER" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="id_card_image" property="idCardImage" jdbcType="VARCHAR" />
		<result column="business_name" property="businessName" jdbcType="VARCHAR" />
		<result column="business_desc" property="businessDesc" jdbcType="VARCHAR" />
		<result column="business_traffic" property="businessTraffic" jdbcType="VARCHAR" />
		<result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
		<result column="business_domain" property="businessDomain" jdbcType="VARCHAR" />
		<result column="business_weixin" property="businessWeixin" jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
		<result column="contacts_password" property="contactsPassword" jdbcType="VARCHAR" />
		<result column="lcd" property="lcd" jdbcType="TIMESTAMP" />
		<result column="app_channel" property="appChannel" jdbcType="VARCHAR" />
		<result column="app_deviceInfo" property="appDeviceInfo" jdbcType="VARCHAR" />
		<result column="app_system" property="appSystem" jdbcType="VARCHAR" />
		<result column="login_token" property="loginToken" jdbcType="VARCHAR" />
		<result column="good_at" property="goodAt" jdbcType="VARCHAR" />
		<result column="place" property="place" jdbcType="VARCHAR" />
		<result column="food" property="food" jdbcType="VARCHAR" />
		<result column="stature" property="stature" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="emotion" property="emotion" jdbcType="VARCHAR" />
		<result column="sports" property="sports" jdbcType="VARCHAR" />
		<result column="open_id_weixin" property="openIdWeixin" jdbcType="VARCHAR" />
		<result column="open_id_qq" property="openIdQq" jdbcType="VARCHAR" />
		<result column="open_id_sina" property="openIdSina" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_users
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.rrh.model.user.TbUsers">
		insert into tb_users (user_id, user_name, mobile,
		password, true_name, nick_name,
		money, gender, birthday,
		small_img, big_img, reg_time,
		last_time, login_count, is_certification,
		province, city, area,
		id_card, id_card_image, business_name,
		business_desc, business_traffic, business_address,
		business_domain, business_weixin,
		signature, email, pay_password,
		contacts_password, lcd, app_channel,
		app_deviceInfo, app_system, login_token,
		good_at, place, food,
		stature, weight, emotion,
		sports, open_id_weixin, open_id_qq,
		open_id_sina)
		values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
		#{money,jdbcType=DECIMAL}, #{gender,jdbcType=INTEGER},
		#{birthday,jdbcType=DATE},
		#{smallImg,jdbcType=VARCHAR}, #{bigImg,jdbcType=VARCHAR}, sysdate(),
		#{lastTime,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER},
		#{isCertification,jdbcType=BIT},
		#{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{area,jdbcType=INTEGER},
		#{idCard,jdbcType=VARCHAR}, #{idCardImage,jdbcType=VARCHAR},
		#{businessName,jdbcType=VARCHAR},
		#{businessDesc,jdbcType=VARCHAR}, #{businessTraffic,jdbcType=VARCHAR},
		#{businessAddress,jdbcType=VARCHAR},
		#{businessDomain,jdbcType=VARCHAR},
		#{businessWeixin,jdbcType=VARCHAR},
		{signature,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR},
		#{contactsPassword,jdbcType=VARCHAR}, #{lcd,jdbcType=TIMESTAMP},
		#{appChannel,jdbcType=VARCHAR},
		#{appDeviceInfo,jdbcType=VARCHAR}, #{appSystem,jdbcType=VARCHAR}, #{loginToken,jdbcType=VARCHAR},
		#{goodAt,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR},
		#{food,jdbcType=VARCHAR},
		#{stature,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{emotion,jdbcType=VARCHAR},
		#{sports,jdbcType=VARCHAR}, #{openIdWeixin,jdbcType=VARCHAR},
		#{openIdQq,jdbcType=VARCHAR},
		#{openIdSina,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.rrh.model.user.TbUsers">
		update tb_users
		set user_name = #{userName,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		true_name = #{trueName,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		money = #{money,jdbcType=DECIMAL},
		gender = #{gender,jdbcType=INTEGER},
		birthday = #{birthday,jdbcType=DATE},
		small_img = #{smallImg,jdbcType=VARCHAR},
		big_img = #{bigImg,jdbcType=VARCHAR},
		reg_time = #{regTime,jdbcType=TIMESTAMP},
		last_time = #{lastTime,jdbcType=TIMESTAMP},
		login_count = #{loginCount,jdbcType=INTEGER},
		is_certification = #{isCertification,jdbcType=BIT},
		province = #{province,jdbcType=INTEGER},
		city = #{city,jdbcType=INTEGER},
		area = #{area,jdbcType=INTEGER},
		id_card = #{idCard,jdbcType=VARCHAR},
		id_card_image = #{idCardImage,jdbcType=VARCHAR},
		business_name = #{businessName,jdbcType=VARCHAR},
		business_desc = #{businessDesc,jdbcType=VARCHAR},
		business_traffic = #{businessTraffic,jdbcType=VARCHAR},
		business_address = #{businessAddress,jdbcType=VARCHAR},
		business_domain = #{businessDomain,jdbcType=VARCHAR},
		business_weixin = #{businessWeixin,jdbcType=VARCHAR},
		signature = #{signature,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		pay_password = #{payPassword,jdbcType=VARCHAR},
		contacts_password = #{contactsPassword,jdbcType=VARCHAR},
		lcd = #{lcd,jdbcType=TIMESTAMP},
		app_channel = #{appChannel,jdbcType=VARCHAR},
		app_deviceInfo = #{appDeviceInfo,jdbcType=VARCHAR},
		app_system = #{appSystem,jdbcType=VARCHAR},
		login_token = #{loginToken,jdbcType=VARCHAR},
		good_at = #{goodAt,jdbcType=VARCHAR},
		place = #{place,jdbcType=VARCHAR},
		food = #{food,jdbcType=VARCHAR},
		stature = #{stature,jdbcType=VARCHAR},
		weight = #{weight,jdbcType=VARCHAR},
		emotion = #{emotion,jdbcType=VARCHAR},
		sports = #{sports,jdbcType=VARCHAR},
		open_id_weixin = #{openIdWeixin,jdbcType=VARCHAR},
		open_id_qq = #{openIdQq,jdbcType=VARCHAR},
		open_id_sina = #{openIdSina,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByModelSelective" parameterType="com.rrh.model.user.TbUsers">
		update tb_users
		<set>
			<if test="userName != null and userName != ''">
				user_name = #{userName,jdbcType=VARCHAR},
      </if>
			<if test="mobile != null and mobile != ''">
				mobile = #{mobile,jdbcType=VARCHAR},
      </if>
			<if test="password != null and password != ''">
				password = #{password,jdbcType=VARCHAR},
      </if>
			<if test="trueName != null and trueName != ''">
				true_name = #{trueName,jdbcType=VARCHAR},
      </if>
			<if test="nickName != null and nickName !=''">
				nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
			<if test="money != null and money != ''">
				money = #{money,jdbcType=DECIMAL},
      </if>
			<if test="gender != null and gender !=''">
				gender = #{gender,jdbcType=INTEGER},
      </if>
			<if test="birthday != null and birthday !=''">
				birthday = #{birthday,jdbcType=DATE},
      </if>
			<if test="smallImg != null and smallImg !=''">
				small_img = #{smallImg,jdbcType=VARCHAR},
      </if>
			<if test="bigImg != null and bigImg !=''">
				big_img = #{bigImg,jdbcType=VARCHAR},
      </if>
			<if test="regTime != null and regTime !=''">
				reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
			<if test="lastTime != null and lastTime !=''">
				last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
			<if test="loginCount != null and loginCount !=''">
				login_count = #{loginCount,jdbcType=INTEGER},
      </if>
			<if test="isCertification != null and isCertification !=''">
				is_certification = #{isCertification,jdbcType=BIT},
      </if>
			<if test="province != null and province !=''">
				province = #{province,jdbcType=INTEGER},
      </if>
			<if test="city != null and city !=''">
				city = #{city,jdbcType=INTEGER},
      </if>
			<if test="area != null and area !=''">
				area = #{area,jdbcType=INTEGER},
      </if>
			<if test="idCard != null and idCard !=''">
				id_card = #{idCard,jdbcType=VARCHAR},
      </if>
			<if test="idCardImage != null and idCardImage !=''">
				id_card_image = #{idCardImage,jdbcType=VARCHAR},
      </if>
			<if test="businessName != null and businessName !=''">
				business_name = #{businessName,jdbcType=VARCHAR},
      </if>
			<if test="businessDesc != null and businessDesc !=''">
				business_desc = #{businessDesc,jdbcType=VARCHAR},
      </if>
			<if test="businessTraffic != null and businessTraffic !=''">
				business_traffic = #{businessTraffic,jdbcType=VARCHAR},
      </if>
			<if test="businessAddress != null and businessAddress !=''">
				business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
			<if test="businessDomain != null and businessDomain !=''">
				business_domain = #{businessDomain,jdbcType=VARCHAR},
      </if>
			<if test="businessWeixin != null and businessWeixin !=''">
				business_weixin = #{businessWeixin,jdbcType=VARCHAR},
      </if>
			<if test="signature != null and signature !=''">
				signature = #{signature,jdbcType=VARCHAR},
      </if>
			<if test="email != null and email !=''">
				email = #{email,jdbcType=VARCHAR},
      </if>
			<if test="payPassword != null and payPassword !=''">
				pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
			<if test="contactsPassword != null and contactsPassword !=''">
				contacts_password = #{contactsPassword,jdbcType=VARCHAR},
      </if>
			<if test="appSystem != null and appSystem !=''">
				app_system = #{appSystem,jdbcType=TIMESTAMP},
      </if>
			<if test="appDeviceInfo != null and appDeviceInfo !=''">
				app_deviceInfo = #{appDeviceInfo,jdbcType=VARCHAR},
      </if>
			<if test="appChannel != null and appChannel !=''">
				app_channel = #{appChannel,jdbcType=VARCHAR},
      </if>
			<if test="loginToken != null and loginToken !=''">
				login_token = #{loginToken,jdbcType=VARCHAR},        
      </if>
			<if test="goodAt != null and goodAt !=''">
				good_at = #{goodAt,jdbcType=VARCHAR},
      </if>
			<if test="place != null and place !=''">
				place = #{place,jdbcType=VARCHAR},
      </if>
			<if test="food != null and food !=''">
				food = #{food,jdbcType=VARCHAR},
      </if>
			<if test="stature != null and stature !=''">
				stature = #{stature,jdbcType=VARCHAR},
      </if>
			<if test="weight != null and weight !=''">
				weight = #{weight,jdbcType=VARCHAR},
      </if>
			<if test="emotion != null and emotion !=''">
				emotion = #{emotion,jdbcType=VARCHAR},
      </if>
			<if test="sports != null and sports !=''">
				sports = #{sports,jdbcType=VARCHAR},
      </if>
			<if test="openIdWeixin != null and openIdWeixin !=''">
				open_id_weixin = #{openIdWeixin,jdbcType=VARCHAR},
      </if>
			<if test="openIdQq != null and openIdQq !=''">
				open_id_qq = #{openIdQq,jdbcType=VARCHAR},
      </if>
			<if test="openIdSina != null and openIdSina !=''">
				open_id_sina = #{openIdSina,jdbcType=VARCHAR},        
      </if>
			lcd = #{lcd,jdbcType=TIMESTAMP}
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select user_id, user_name, mobile, password, true_name, nick_name,
		money, gender,
		birthday, small_img, big_img, reg_time, last_time, login_count,
		is_certification,
		province, city, area, id_card, id_card_image, business_name, business_desc,
		business_traffic,
		business_address, business_domain, business_weixin, signature, email, pay_password,
		contacts_password, lcd, app_channel, app_deviceInfo, app_system,
		login_token, good_at,
		place, food, stature, weight, emotion, sports, open_id_weixin, open_id_qq,
		open_id_sina
		from tb_users
		where user_id = #{userId,jdbcType=INTEGER}
	</select>

	<select id="selectByModelSelective" resultMap="BaseResultMap"
		parameterType="com.rrh.model.user.TbUsers">
		select user_id, user_name, mobile, password, true_name, nick_name,
		money, gender,
		birthday, small_img, big_img, reg_time, last_time, login_count,
		is_certification,
		province, city, area, id_card, id_card_image, business_name, business_desc,
		business_traffic,
		business_address, business_domain, business_weixin, signature, email, pay_password,
		contacts_password, lcd, app_channel, app_deviceInfo, app_system,
		login_token, good_at,
		place, food, stature, weight, emotion, sports, open_id_weixin, open_id_qq,
		open_id_sina
		from tb_users
		where 1=1
		<if test="userName != null and userName != ''">
			and user_name = #{userName,jdbcType=VARCHAR}
      </if>
		<if test="mobile != null and mobile != ''">
			and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
		<if test="password != null and password != ''">
			and password = #{password,jdbcType=VARCHAR}
      </if>
		<if test="trueName != null and trueName != ''">
			and true_name = #{trueName,jdbcType=VARCHAR}
      </if>
		<if test="nickName != null and nickName !=''">
			and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
		<if test="gender != null and gender !=''">
			and gender = #{gender,jdbcType=INTEGER}
      </if>
		<if test="birthday != null and birthday !=''">
			and birthday = #{birthday,jdbcType=DATE}
      </if>
		<if test="regTime != null and regTime !=''">
			and reg_time = #{regTime,jdbcType=TIMESTAMP}
      </if>
		<if test="lastTime != null and lastTime !=''">
			and last_time = #{lastTime,jdbcType=TIMESTAMP}
      </if>
		<if test="loginCount != null and loginCount !=''">
			and login_count = #{loginCount,jdbcType=INTEGER}
      </if>
		<if test="isCertification != null and isCertification !=''">
			and is_certification = #{isCertification,jdbcType=BIT}
      </if>
		<if test="province != null and province !=''">
			and province = #{province,jdbcType=INTEGER}
      </if>
		<if test="city != null and city !=''">
			and city = #{city,jdbcType=INTEGER}
      </if>
		<if test="area != null and area !=''">
			and area = #{area,jdbcType=INTEGER}
      </if>
		<if test="idCard != null and idCard !=''">
			and id_card = #{idCard,jdbcType=VARCHAR}
      </if>
		<if test="idCardImage != null and idCardImage !=''">
			and id_card_image = #{idCardImage,jdbcType=VARCHAR}
      </if>
		<if test="businessName != null and businessName !=''">
			and business_name = #{businessName,jdbcType=VARCHAR}
      </if>
		<if test="signature != null and signature !=''">
			and signature = #{signature,jdbcType=VARCHAR}
      </if>
		<if test="email != null and email !=''">
			and email = #{email,jdbcType=VARCHAR}
      </if>
		<if test="payPassword != null and payPassword !=''">
			and pay_password = #{payPassword,jdbcType=VARCHAR}
      </if>
		<if test="contactsPassword != null and contactsPassword !=''">
			and contacts_password = #{contactsPassword,jdbcType=VARCHAR}
      </if>
		<if test="appSystem != null and appSystem !=''">
			and app_system = #{appSystem,jdbcType=TIMESTAMP}
      </if>
		<if test="appDeviceInfo != null and appDeviceInfo !=''">
			and app_deviceInfo = #{appDeviceInfo,jdbcType=VARCHAR}
      </if>
		<if test="appChannel != null and appChannel !=''">
			and app_channel = #{appChannel,jdbcType=VARCHAR}
      </if>
		<if test="loginToken != null and loginToken !=''">
			and login_token = #{loginToken,jdbcType=VARCHAR}
      </if>
		<if test="userId != null and userId !=''">
			and user_id = #{userId,jdbcType=INTEGER}
      </if>
	</select>

	<select id="selectUserByOpenId" resultMap="BaseResultMap"
		parameterType="com.rrh.model.user.TbUsers">
		select user_id, user_name, mobile, password, true_name, nick_name,
		money, gender,
		birthday, small_img, big_img, reg_time, last_time, login_count,
		is_certification,
		province, city, area, id_card, id_card_image, business_name, business_desc,
		business_traffic,
		business_address, business_domain, business_weixin, signature, email, pay_password,
		contacts_password, lcd, app_channel, app_deviceInfo, app_system,
		login_token, good_at,
		place, food, stature, weight, emotion, sports, open_id_weixin, open_id_qq,
		open_id_sina
		from tb_users
		where 1=1
		<if test="openIdWeixin != null and openIdWeixin !=''">
			and open_id_weixin = #{openIdWeixin,jdbcType=INTEGER}
    </if>
		<if test="openIdQq != null and openIdQq !=''">
			and open_id_qq = #{openIdQq,jdbcType=INTEGER}
    </if>
		<if test="openIdSina != null and openIdSina !=''">
			and open_id_sina = #{openIdSina,jdbcType=INTEGER}
    </if>
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select user_id, user_name, mobile, password, true_name, nick_name,
		money, gender,
		birthday, small_img, big_img, reg_time, last_time, login_count,
		is_certification,
		province, city, area, id_card, id_card_image, business_name, business_desc,
		business_traffic,
		business_address, business_domain, business_weixin, signature, email, pay_password,
		contacts_password, lcd, app_channel, app_deviceInfo, app_system,
		login_token, good_at,
		place, food, stature, weight, emotion, sports, open_id_weixin, open_id_qq,
		open_id_sina
		from tb_users
	</select>
	<!-- 根据手机号码查询用户信息 -->
	<select id="getByMobile" resultMap="BaseResultMap" parameterType="java.lang.String">
		select * from tb_users where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
	<!-- 统计手机号码用户数量 -->
	<select id="countByMobile" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(user_id) from tb_users
		where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
	<!-- 完善注册信息 -->
	<select id="registerPerfectInfo" resultType="java.lang.Integer">
		update set nick_name=#{nickName,jdbcType=VARCHAR},
		gender=#{gender,jdbcType=INTEGER},
		birthday=#{nickName,jdbcType=TIMESTAMP},
		small_img=#{smallImg,jdbcType=VARCHAR},
		big_img=#{bigImg,jdbcType=VARCHAR}
		from tb_users where user_id=#{userId,jdbcType=VARCHAR}
  </select>

</mapper>